*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    width: 600px;
    height: auto;
    background: whitesmoke;
    border-bottom: 2px rgba(225, 221, 221, 0.851) solid;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(255, 255, 255, 0.60) 0px 13px 0px -5px , rgba(255, 255, 255, 0.40) 0px 20px 0px -8px, rgba(255, 255, 255, 0.20)0px 27px 0px -12px,rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* .listContainer{} */

input{
  
    border: none;
    width: 100%;
    border-bottom: 2px rgba(206, 202, 202, 0.851) solid;

   
}

input:focus {
    outline-style: none;
  }

.listContainer{

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todoContainer{
    width: 100%;
    height: 50px;
    color: black;
    border-bottom: 2px rgba(206, 202, 202, 0.851) solid;
    padding: 5px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.deleteButton{
    transition: display  2s ease-in-out 0.5s;
 
}